<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/formStyle.css">
    <title>Formulario de Votación</title>
</head>
<body>
    <h2>FORMULARIO DE VOTACIÓN:</h2>
    <form id="votacionForm">
        <div class="form-row">
            <label for="nombre_apellido">Nombre y Apellido:</label>
            <input class="entry" type="text" id="nombre_apellido" name="nombre_apellido">
        </div>
        <div class="form-row">
            <label for="alias">Alias:</label>
            <input class="entry" type="text" id="alias" name="alias">
        </div>
        <div class="form-row">
            <label for="rut">RUT:</label>
            <input class="entry" type="text" id="rut" name="rut">
        </div>
        <div class="form-row">
            <label for="email">Email:</label>
            <input class="entry" type="email" id="email" name="email">
        </div>
        <div class="form-row">
            <label for="region">Región:</label>
            <select class="entry" id="region" name="region">
                <option value="">Seleccionar una región</option>
            </select>
        </div>
        <div class="form-row">
            <label for="comuna">Comuna:</label>
            <select class="entry" id="comuna" name="comuna">
                <option value="">Selecciona una comuna</option>
            </select>
        </div>
        <div class="form-row">
            <label for="candidato">Candidato:</label>
            <select class="entry" id="candidato" name="candidato">
                <option value="">Selecciona un candidato</option>
            </select>
        </div>
        <div class="form-row">
            <label>¿Cómo se enteró de nosotros?:</label>
            <div id="encuestaOptions"></div>
        </div>
        <button type="submit">Votar</button>


    </form>

    <div id="votoExistenteModal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Voto Registrado</h2>
            <div id="votoExistenteInfo"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../public/js/opcionesScript.js"></script>
    <script src="../public/js/validaFormulario.js"></script>
    <script src="../public/js/procesaFormulario.js"></script>
    <script src="../public/js/autocompletaRut.js"></script>
    
</body>
</html>
